name: 'Build and deploy'
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  docs-build:
    uses: kube-green/kube-green.github.io/.github/workflows/docs-build.yml@main
  deploy-github-pages:
    needs: docs-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: ["lts/*"]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Get cache build
        uses: actions/cache@v4
        with:
          path: build
          key: build-website-${{ github.sha }}-${{ github.run_id }}
      - uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
